In [9]:
import pandas as pd 
import seaborn as sb 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [10]:
lesionados_data = pd.DataFrame(pd.read_csv('proy_datasets/LESIONADO.csv'))

In [11]:
lesionados_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261293 entries, 0 to 261292
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     261293 non-null  float64
 1   Y                     261293 non-null  float64
 2   OBJECTID              261293 non-null  int64
 3   CODIGO_ACCIDENTADO    261293 non-null  int64
 4   FORMULARIO            261293 non-null  object
 5   FECHA_OCURRENCIA_ACC  261293 non-null  object
 6   HORA_OCURRENCIA_ACC   261293 non-null  object
 7   ANO_OCURRENCIA_ACC    261293 non-null  int64
 8   MES_OCURRENCIA_ACC    261293 non-null  object
 9   DIA_OCURRENCIA_ACC    261293 non-null  object
 10  FECHA_HORA_ACC        261293 non-null  object
 11  DIRECCION             261293 non-null  object
 12  CLASE_ACC             261258 non-null  object
 13  LOCALIDAD             261270 non-null  object
 14  CODIGO_VEHICULO       199320 non-null  float64
 15  CONDICION             261293 non-null  object
 16  GENERO                261087 non-null  object
 17  EDAD                  259572 non-null  float64
 18  CONDICION_VEHICULO    261293 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 37.9+ MB

In [12]:
lesionados_data.isna().sum()

X                           0
Y                           0
OBJECTID                    0
CODIGO_ACCIDENTADO          0
FORMULARIO                  0
FECHA_OCURRENCIA_ACC        0
HORA_OCURRENCIA_ACC         0
ANO_OCURRENCIA_ACC          0
MES_OCURRENCIA_ACC          0
DIA_OCURRENCIA_ACC          0
FECHA_HORA_ACC              0
DIRECCION                   0
CLASE_ACC                  35
LOCALIDAD                  23
CODIGO_VEHICULO         61973
CONDICION                   0
GENERO                    206
EDAD                     1721
CONDICION_VEHICULO          0
dtype: int64

In [27]:
# Reemplazar cadenas vacías o espacios con NaN
lesionados_data.replace(["", "SIN INFORMACION"," ", "NaN", "null"], np.nan, inplace=True)

# Ahora aplicar dropna()
lesionados_data.dropna(inplace=True)

In [28]:
lesionados_data.info()
# Obtenemos finalmente una tabla sin valores nulos

<class 'pandas.core.frame.DataFrame'>
Index: 198419 entries, 0 to 261292
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     198419 non-null  float64
 1   Y                     198419 non-null  float64
 2   OBJECTID              198419 non-null  int64
 3   CODIGO_ACCIDENTADO    198419 non-null  int64
 4   FORMULARIO            198419 non-null  object
 5   FECHA_OCURRENCIA_ACC  198419 non-null  object
 6   HORA_OCURRENCIA_ACC   198419 non-null  object
 7   ANO_OCURRENCIA_ACC    198419 non-null  int64
 8   MES_OCURRENCIA_ACC    198419 non-null  object
 9   DIA_OCURRENCIA_ACC    198419 non-null  object
 10  FECHA_HORA_ACC        198419 non-null  object
 11  DIRECCION             198419 non-null  object
 12  CLASE_ACC             198419 non-null  object
 13  LOCALIDAD             198419 non-null  object
 14  CODIGO_VEHICULO       198419 non-null  float64
 15  CONDICION             198419 non-null  object
 16  GENERO                198419 non-null  object
 17  EDAD                  198419 non-null  float64
 18  CONDICION_VEHICULO    198419 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 30.3+ MB

In [29]:
lesionados_data["CLASE_ACC"].value_counts()

CLASE_ACC
CHOQUE               159125
ATROPELLO             14317
CAIDA DE OCUPANTE     11097
VOLCAMIENTO            7312
OTRO                   4386
AUTOLESION             2168
INCENDIO                 14
Name: count, dtype: int64

In [30]:
lesionados_data["CONDICION"].value_counts()

CONDICION
MOTOCICLISTA    79900
PASAJERO        70720
CONDUCTOR       24751
CICLISTA        22610
PEATON            438
Name: count, dtype: int64

In [32]:
lesionados_data["GENERO"].value_counts() 
# Eliminamos aquellos campos que no contenian información del genero
# para asi poder trabajr con dummy variables

GENERO
MASCULINO    136282
FEMENINO      62137
Name: count, dtype: int64

In [33]:
dummies = pd.get_dummies(lesionados_data["GENERO"],dtype=int)
dummies

        FEMENINO  MASCULINO
0              1          0
1              0          1
2              0          1
3              1          0
4              0          1
...          ...        ...
261288         0          1
261289         1          0
261290         0          1
261291         0          1
261292         0          1

[198419 rows x 2 columns]